* {
    box-sizing: border-box;
}

body {
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
}

#__next {
    padding: 0 1rem;
    margin: 0 auto;
    max-width: 1000px;

    & > section {
        min-height: calc(100vh - 6rem);
    }
}

a {
    text-decoration: none;
}
